<template>

    <div >
        <form v-on:submit.prevent="onSubmit">

            <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-barcode" v-if="!loading"></span>
                            <span class="glyphicon glyphicon glyphicon-repeat spinning" v-else></span>
                        </span>
                <input ref="barcode_id" v-model="barcode_id" autofocus type="text" class="form-control" name="barcode_id" id="barcode_id"
                       :placeholder="placeholder"/>
                <slot></slot>

            </div>

        </form>

    </div>

</template>

<script>
  export default {
    props: {
      'loading': {
        type: Boolean,
        default: false
      },
      'placeholder': {
        type: String,
        default: ''
      }},
    mounted() {
      this.$refs.barcode_id.focus();
    },
    created() {
    },
    data() {
      return {
        barcode_id: ''
      }
    },
    methods: {
      onSubmit() {
        this.$emit('scanned', this.barcode_id);
        this.barcode_id = '';
      }
    }
  }
</script>
