<template>

    <div class="container" >



        <div class="col-lg-6">
            <router-link to="/consolidation">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="glyphicon glyphicon-list larger"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Consolidate</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right glyphicon glyphicon-arrow-right"></span>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </router-link>
        </div>

        <div class="col-lg-6">
            <router-link to="/ready-to-ship/1">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="glyphicon glyphicon-road larger"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Bin</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right glyphicon glyphicon-arrow-right"></span>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </router-link>
        </div>



    </div>

</template>

<script>
  export default {
    mounted() {
    },
    data() {
      return {
      }
    },
    methods: {


    }
  }
</script>
