<template>
  <div class="container">

    <div id="itemBarcodeBox">
      <Barcode-Box v-on:scanned="barcodeScanned" placeholder="Order or Order Item" :loading="loading">
      </Barcode-Box>
    </div>

    <div id="product-list" v-if="!loading && showOrder">

      <div class="row">
        <div class="col-md-4">
          <div :class='{"panel": true, "panel-primary":!areAllItemsInBin, "panel-success":areAllItemsInBin}'>
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <span class="glyphicon glyphicon-inbox larger" aria-hidden="true"></span>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{bin == null ? 'Unassigned' : bin}}</div>
                  <div>{{totalQuantityConsolidated}} of {{totalQuantity}} items are in bin</div>
                </div>
              </div>
            </div>

            <div class="panel-footer">
              Bin Information
              <div class="pull-right" v-show="bin == null">
                <span class="glyphicon glyphicon-save" @click="addInvoiceToBin"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <span class="glyphicon glyphicon-calendar larger" aria-hidden="true"></span>
                </div>
                <div class="col-xs-9 text-right">
                  <div><span class="huge">{{moment(order.order_date).format('Do')}} </span>
                    {{moment(order.order_date).format('MMM')}}
                  </div>
                  <div>{{order.status.order_status_name}}</div>
                </div>
              </div>
            </div>

            <div class="panel-footer">
              Order Date
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <span class="glyphicon glyphicon-time larger" aria-hidden="true"></span>
                </div>
                <div class="col-xs-9 text-right">
                  <div><span class="huge">{{moment(order.ship_deadline).format('Do')}}</span>
                    {{moment(order.ship_deadline).format('MMM')}}
                  </div>
                  <div>{{moment(order.ship_deadline).fromNow()}}</div>
                </div>
              </div>
            </div>

            <div class="panel-footer">
              Ship deadline
            </div>
          </div>
        </div>
      </div>

      <div v-for="group in itemGroups">

        <div class="row group-heading">
          <div class="col-md-8"><h4>{{group}}</h4></div>
          <div class="col-md-4 text-right">
              <button v-if="areAllItemsInBin" class="btn btn-danger" disabled>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                All items are already in bin
              </button>
              <button @click="addToBin(group)" v-else-if="canAddGroupToBin(group)" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add all consolidation ready items to Bin
              </button>
              <button v-else-if="totalQuantity == 1" class="btn btn-danger" disabled>
                Order does not require consolidation
              </button>

          </div>
        </div>


        <div class="row">
          <div v-for="item in filterByGroup(group)">
            <div :class="itemClass(item)">
                            <span
                              :class="{glyphicon: true, 'glyphicon-check': isItemSelected(item), 'glyphicon-unchecked': !isItemSelected(item)}"
                              v-show="getItemBinStatus(item) == 'binnable'">

                            </span>
              <Order-Item :showQtySelector="isItemSelected(item)" :status_id="item.status_id" :item="item" @click="toggleCheckItem(item)"></Order-Item>
              <span class="badge"
                    :style="{'background-color':'#'+ item.status.color_code}">{{item.status.status_name}}</span>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</template>

<script>
import BarcodeBox from './BarcodeBox.vue';
import OrderItem from './OrderItem.vue';
import moment from 'moment'

export default {
  components: {
    BarcodeBox,
    OrderItem
  },
  data() {
    return {
      order: {},
      bin: null,
      items: [],
      order_id: '',
      search_id: null,
      current_cell_id: 21,
      partially_in_bin_status_id: parseInt(PARTIALLY_IN_BIN, 10),
      waiting_in_bin_status_id: parseInt(WAITING_IN_BIN, 10),
      consolidated_status_id: parseInt(CONSOLIDATED, 10),
      loading: false,
      showOrder: false,
      selectedItems: []
    }
  },
  computed: {

    itemGroups() {
      return ['Group']
    },
    itemsInBin() {
      return this.items.filter(
        item => item.status_id == this.waiting_in_bin_status_id
      );
    },

    totalQuantityConsolidated() {
      return this.items.reduce(
        (qty, item) => qty + parseInt(item.quantity_consolidated, 10), 0
      );
    },

    totalQuantity() {
      return this.items.reduce(
        (qty, item) => qty+ parseInt(item.quantity, 10), 0
      );
    },

    areAllItemsInBin() {
      return this.totalQuantity == this.totalQuantityConsolidated;
    }


  },
  methods: {
    getItemGroup(item) {
      return {product_group_name: 'Group'};
    },
    moment(date) {
      return moment(date);
    },
    itemClass(item) {
      let obj = {
        'col-sm-2': (item.order_info_id != this.search_id),
        'col-sm-3': (item.order_info_id == this.search_id),
        'text-center': true


      };
      obj[this.getItemBinStatus(item)] = true;
      return obj;
    },
    getItemBinStatus(item) {
      if(item.status_id === this.waiting_in_bin_status_id) {
        return 'already-in-bin';
      }
      if(item.order_info_id === this.search_id) {
        return 'binnable'
      }
      return 'na'

    },

    toggleCheckItem(checkItem) {
      //this.$set(item, "checked", !item.checked);
      if (!this.isItemSelected(checkItem)) {
        this.selectedItems.push(checkItem.order_info_id);
      } else {
        this.selectedItems = this.selectedItems.filter((item_id) => {
          return item_id != checkItem.order_info_id;
        });
      }
      //item.checked = !item.checked;
      //console.log(item);
    },

    canAddGroupToBin(group_name) {
      if(this.items.length === 0 ||
        (this.items.length === 1 && this.items[0].quantity <= 1) ||
        this.binnableItems(group_name).length === 0) {
        return false;
      }

      return true;
    },
    binnableItems(group_name) {
      return this.filterByGroup(group_name).filter(
        item => item.order_info_id == this.search_id
      );
    },

    filterByGroup(group_name) {
      let $this = this
      return this.items.filter(function (item) {
          return $this.getItemGroup(item).product_group_name == group_name
        }
      ).sort((item1, item2) => item1.order_info_id != this.search_id);
    },
    isItemSelected(item) {
      return this.selectedItems.indexOf(item.order_info_id) !== -1;
    },
    addToBin(group_name) {
      let binnable = this.binnableItems(group_name).filter(item =>
        this.isItemSelected(item)
      ).map((item) => {
        let quantity_to_consolidate = parseInt(item.quantity_to_consolidate, 10)
        item.quantity_consolidated = parseInt(item.quantity_consolidated, 10) + quantity_to_consolidate

        if(item.quantity_consolidated == item.quantity) {
          item.status_id = this.waiting_in_bin_status_id;
          item.status.status_name = 'Waiting in Bin';
          item.quantity_to_consolidate = 0
        }
        else {
          item.quantity_to_consolidate = 1
        }
        return {item_id: item.order_info_id, quantity_to_consolidate: quantity_to_consolidate};
      });
      this.search_id=this.order_id
      if(binnable.length > 0) {
         this.addItemsToBin(binnable);
      }

    },
    addItemsToBin(items) {
      axios.post('/add-to-rack', {
        order_id: this.order_id,
        items: items
      }).then((response) => {
        this.bin = response.data.rack_id;
      });
    },
    addInvoiceToBin() {
      this.addItemsToBin([]);
    },
    barcodeScanned(item_id_or_sku) {
      this.getOrder(item_id_or_sku);
    },


    getOrder(order_id) {
      this.loading = true;
      this.order_id = order_id;
      this.search_id=parseInt(order_id, 10);
      axios.get('/orders/' + this.order_id)
        .then(function (response) {
          this.showOrder = true;

          if (response.data == "") {
            console.log('no order found');
            return;
          }
          if (response.data.rack != null) {
            this.bin = response.data.rack.rack_id;
          } else {
            this.bin = null;
          }
          this.order = response.data;
          this.order_id = this.order.order_id;
          if(this.order.order_status_id >= this.consolidated_status_id) {
            //disable order selection
            this.search_id = this.order_id
          }
          // response.data.order_items.forEach((item) => {
          //   //item.checked = true;
          //   this.selectedItems.push(item.order_info_id);
          // });
          this.selectedItems = [this.search_id];
          this.items = response.data.order_items;

          this.loading = false;
        }.bind(this));
    }
  }
}
</script>
