<template>
    <div  v-bind:class="[item.quantity > 1 ? 'multi-qty' : '', 'panel', 'panel-success', 'animated', 'bounceIn']" @click="triggerClick">
        <div class="panel-heading">
            {{ item.sku || optionTextSku }}
        </div>
        <div class="panel-body"><img
                :src="item.thumb"
                class="img-responsive"
                @load="triggerSizer"
            >
           <!--  <span class="label label-danger">{{ item.order_item_id }}</span> -->
        </div>
        <div class="panel-footer">{{ item.type }}</div>
        <div @click.stop="true" class="panel-footer" v-if="item.quantity-item.quantity_consolidated > 0 && showQtySelector">
            <div class="pull-left"><span class="label label-default">{{item.quantity_consolidated}}</span> of <span class="label label-danger">{{item.quantity}}</span> in bin</div>
            <div class="pull-right"><input type="number" v-model="item.quantity_to_consolidate" step="1" min="1" :max="item.quantity-item.quantity_consolidated" size="4"></div>
        </div>
    </div>
</template>

<script>
  export default {
    props: {'item': Object, 'status_id': [String, Number], 'mapping': Object, showQtySelector: Boolean},
    computed: {
        optionTextSku() {
            if(this.item.optionstxt == '') {
                return ''
            }
            let optionstxt = JSON.parse(this.item.optionstxt)
            if(optionstxt === undefined || optionstxt === null) {
                return ''
            }
            return optionstxt.Sku
        }
    },
    watch: {
      status_id(new_value) {
        this.triggerSizer();
      }
    },
    methods: {
      triggerClick() {
        this.$emit('click');
      },
      triggerSizer(){
        //$(this.$el).find("img").height($(this.$el).find("img").width());
        $(".done-items .panel").removeClass("panel-success").addClass("panel-default");
        $(".other-items .panel").removeClass("panel-success").addClass("panel-warning");
        //$(".multi-qty").removeClass("panel-success").addClass("panel-danger");
      }
    }
  }
</script>
