<template>

<div class="card animated bounceIn">
    <div class="bin-box">
        <div class="pull-left">
            <div class="bin-number">{{order.rack != null ? order.rack.rack_id : 'error'}}</div>
            <div>{{getItemsInBinCount(order)}}/{{getItemsCount(order)}} item(s)</div>
        </div>


        <div class="clearfix"></div>
    </div>

    <div class="days">
        <div class="row row-no-gutter">
          <div class="col-md-8">
            <div class="day">
                <a :href="'https://www.marcofinearts.com/admin/order/orderinfo/'+order.order_id" target="_blank">
                  <h1>#{{order.order_id}}</h1>
                </a>
              </div>
          </div>
            <!--
            <div class="col-md-4" v-if="consolidatable">
                <a v-on:click.prevent="() => triggerClick(false)" href="#">
                  <div class="day">
                    <span class="glyphicon glyphicon-save medium" ></span>
                  </div>
                </a>
            </div>
            <div class="col-md-4" v-else>
                <a v-on:click.prevent="() => triggerClick(true)" href="#">
                    <div class="day">
                        <span class="glyphicon glyphicon-remove medium" ></span>
                    </div>
                </a>
            </div>
            -->
        </div>
    </div>
</div>
</template>

<script>
  export default {
    props: ['order', 'consolidatable'],
    methods: {
      triggerClick(showConfirm) {
        if(showConfirm) {
          this.$dialog.confirm({
            title: 'Release Rack',
            confirmText: 'Confirm',
            type: 'is-danger',
            message: 'Are you sure you want to release rack? Order is not ready to ship.',
            onConfirm: () => {
              this.$emit('click');
              $("#barcode_id").focus();
            },
            onCancel() {
              $("#barcode_id").focus();
            }
          })
        }
        else {
          this.$emit('click');
        }

      },
      getItemsCount(order) {
        if(typeof(order.items_count) != 'undefined') {
          return order.items_count.total_quantity;
        }
        return order.order_items.length;
      },

      getItemsInBinCount(order) {
        if(typeof(order.items_count) != 'undefined') {
          return order.items_count.total_quantity_consolidated;
        }
        return order.order_items.length;
      },
      moment(date) {
        return moment(date);
      },
    }
  }
</script>
