<template>
    <div>
        <div class="row">
            <div class="col-md-7">
                <div id="itemBarcodeBox">
                    <Barcode-Box ref="barcode_box" v-on:scanned="barcodeScanned" placeholder="Bin #" :loading="false">

                    </Barcode-Box>
                </div>
            </div>
            <div class="col-md-5">
                <div class="btn-group pull-right" data-toggle="buttons">
                    <label class="btn btn-primary active" @click.prevent="toggleReadyToShip">
                        <input type="checkbox" autocomplete="off" >Ready to Ship
                    </label>
                    <label class="btn btn-primary" @click.prevent="toggleForSomeTime">
                        <input type="checkbox" autocomplete="off"> In Bin for less than 8Hr
                    </label>
                    <label class="btn btn-primary" @click.prevent="toggleForLongTime">
                        <input type="checkbox" autocomplete="off"> In Bin for more than 8Hr
                    </label>
                </div>

            </div>
        </div>

        <div id="product-list" v-show="!loading">

            <h3 v-show="ordersReadyInBin.length > 0 && show_ready_to_ship">Orders ready to ship ({{ordersReadyInBin.length}})</h3>

            <div class="row green" v-show="show_ready_to_ship">
                <div class="col-sm-1"  v-for="order in ordersReadyInBin" >
                    <Order :order="order" :consolidatable="true" @click="consolidate(order)"></Order>
                </div>
            </div>
            <h3 v-show="ordersPartiallyInBinForSomeTime.length > 0 && show_for_some_time">In Bin For Less Than 2 hours ({{ordersPartiallyInBinForSomeTime.length}})</h3>
            <div class="row yellow" v-show="show_for_some_time">
                <div class="col-sm-1"  v-for="order in ordersPartiallyInBinForSomeTime" >
                    <Order :order="order" :consolidatable="false" @click="release(order)"></Order>
                </div>
            </div>

            <h3 v-show="ordersPartiallyInBinForLongTime.length > 0 && show_for_long_time">In Bin For More Than 2 hours  ({{ordersPartiallyInBinForLongTime.length}})</h3>
            <div class="row red" v-show="show_for_long_time">
                <div class="col-sm-1"  v-for="order in ordersPartiallyInBinForLongTime" >
                    <Order :order="order" :consolidatable="false" @click="release(order)"></Order>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
  import Order from './Order.vue';
  import BarcodeBox from './BarcodeBox.vue';

  export default {
    mounted() {
      this.store_id = this.$route.params.store_id;

      this.getOrders();
      Echo.channel('orders')
        .listen('OrderConsolidated', (e) => {
          let order = e.order;
          order.rack = e.rack;
          order.items_count = e.items_count;
          this.removeOrder(order);
          this.orders.push(order);
        });
      Echo.channel('orders')
        .listen('OrderReleased', (e) => {
          let order = e.order;
          this.removeOrder(order);
        });
    },
    components: {
      BarcodeBox,
      Order
    },

    data() {
      return {
        store_id: 0,
        loading: false,
        show_ready_to_ship: true,
        show_for_some_time: false,
        show_for_long_time: false,
        orders: [],
        consolidated_status_id: parseInt(CONSOLIDATED, 10),
        waiting_in_bin_status_id: parseInt(WAITING_IN_BIN, 10),

      }
    },
    computed: {
      ordersReadyInBin() {
        return this.orders
          .filter((order) => order.order_status_id == this.waiting_in_bin_status_id)
          .sort((order1, order2) => order1.rack.rack_id - order2.rack.rack_id)
      },
      ordersPartiallyInBinForSomeTime() {
        return this.orders.filter((order) => {
          return order.order_status_id != this.waiting_in_bin_status_id &&
            moment.duration(moment().diff(moment.tz(order.rack.assigned_date, "UTC"))).asHours() <= 8;
        }).sort((order1, order2) => moment(order1.ship_deadline) - moment(order2.ship_deadline))
      },
      ordersPartiallyInBinForLongTime() {
        return this.orders.filter((order) => {
            //console.log(order)
          return order.order_status_id != this.waiting_in_bin_status_id &&
            moment.duration(moment().diff(moment.tz(order.rack.assigned_date, "UTC"))).asHours() > 8;
        }).sort((order1, order2) => moment(order1.ship_deadline) - moment(order2.ship_deadline))
      }
    },
    methods: {
      toggleReadyToShip() {
        this.show_ready_to_ship = !this.show_ready_to_ship;
      },
      toggleForSomeTime() {
        this.show_for_some_time = !this.show_for_some_time;
      },
      toggleForLongTime() {
        this.show_for_long_time = !this.show_for_long_time;
      },
      removeOrder(order) {
        this.orders = this.orders.filter(o => o.order_id != order.order_id);
      },
      barcodeScanned(bin) {
        let order = this.ordersReadyInBin.find(order => order.rack.rack_id == bin);
        if(order != null) {
          this.consolidate(order);
        }
      },
      consolidate(order) {
        this.removeOrder(order);
        axios.post('/order/update-status', {
          order_id: order.order_id,
          status_id: this.consolidated_status_id
        });
      },

      release(order) {
        this.removeOrder(order);
        axios.post('/release-rack', {
          order_id: order.order_id
        });
      },

      getOrders() {
        this.loading = true;
        axios.get('/orders-to-ship?store_id='+this.store_id)
          .then(function (response) {
            this.orders = response.data;
            this.loading = false;
          }.bind(this));
      }
    }
  }
</script>
