.dialog {
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
}

.dialog .modal-card-body .icon {
    margin-left: -8px;
    margin-right: 16px;
}

.dialog .modal-card-body.is-titleless {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dialog .modal-card-body .control {
    margin-top: 16px;
}

.dialog .modal-card {
    min-width: 320px;
    max-width: 460px;
    width: auto;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    will-change: transform;
}

.dialog .modal-card-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
}

.dialog .modal-card-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.dialog .modal-card-foot .button {
    min-width: 80px;
    font-weight: 600;
}


.modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(10, 10, 10, 0.86);
}

.modal-content,
.modal-card {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 769px) {
    .modal-content,
    .modal-card {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 640px;
    }
}

.modal-close {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    height: 20px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px;
    background: none;
    height: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px;
}

.modal-close:before, .modal-close:after {
    background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.modal-close:before {
    height: 2px;
    width: 50%;
}

.modal-close:after {
    height: 50%;
    width: 2px;
}

.modal-close:hover, .modal-close:focus {
    background-color: rgba(10, 10, 10, 0.3);
}

.modal-close:active {
    background-color: rgba(10, 10, 10, 0.4);
}

.modal-close.is-small {
    height: 16px;
    width: 16px;
}

.modal-close.is-medium {
    height: 24px;
    width: 24px;
}

.modal-close.is-large {
    height: 32px;
    width: 32px;
}

.modal-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow: hidden;
}

.modal-card-head,
.modal-card-foot {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
}

.modal-card-head {
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-card-title {
    color: #363636;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 1;
}

.modal-card-foot {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #dbdbdb;
}

.modal-card-foot .button:not(:last-child) {
    margin-right: 10px;
}

.modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: white;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
}

.modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 1986;
}

.modal.is-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.button.is-danger {
    background-color: #ff3860;
    border-color: transparent;
    color: #fff;
}


.button.is-danger:hover, .button.is-danger.is-hovered {
    background-color: #ff2b56;
    border-color: transparent;
    color: #fff;
}

.button.is-danger:focus, .button.is-danger.is-focused {
    border-color: transparent;
    box-shadow: 0 0 0.5em rgba(255, 56, 96, 0.25);
    color: #fff;
}

.button.is-danger:active, .button.is-danger.is-active {
    background-color: #ff1f4b;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
    color: #fff;
}

.button.is-danger.is-inverted {
    background-color: #fff;
    color: #ff3860;
}

.button.is-danger.is-inverted:hover {
    background-color: #f2f2f2;
}

.button.is-danger.is-loading:after {
    border-color: transparent transparent #fff #fff !important;
}

.button.is-danger.is-outlined {
    background-color: transparent;
    border-color: #ff3860;
    color: #ff3860;
}

.button.is-danger.is-outlined:hover, .button.is-danger.is-outlined:focus {
    background-color: #ff3860;
    border-color: #ff3860;
    color: #fff;
}

.button.is-danger.is-outlined.is-loading:after {
    border-color: transparent transparent #ff3860 #ff3860 !important;
}

.button.is-danger.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.button.is-danger.is-inverted.is-outlined:hover, .button.is-danger.is-inverted.is-outlined:focus {
    background-color: #fff;
    color: #ff3860;
}

.button.is-small {
    border-radius: 2px;
    font-size: 0.75rem;
}

.button.is-medium {
    font-size: 1.25rem;
}

.button.is-large {
    font-size: 1.5rem;
}

.message,
.notification {
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
}

.message .message-body,
.notification {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.message .message-body .icon,
.notification .icon {
    margin-right: 8px;
    margin-left: -8px;
}

.notices {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: none;
}

.notices.top {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.notices.top-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.notices.bottom {
    top: auto;
    bottom: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.notices.bottom-left {
    top: auto;
    bottom: 0;
}

.notices.bottom-right {
    top: auto;
    bottom: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.notices.is-toast {
    opacity: 0.92;
}

.notices .toast {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    margin: 24px 8px;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    border-radius: 28px;
    padding: 12px 24px;
    pointer-events: auto;
}

.notices .toast.is-white {
    color: #0a0a0a;
    background: white;
}

.notices .toast.is-black {
    color: white;
    background: #0a0a0a;
}

.notices .toast.is-light {
    color: #363636;
    background: whitesmoke;
}

.notices .toast.is-dark {
    color: whitesmoke;
    background: #363636;
}

.notices .toast.is-primary {
    color: #fff;
    background: #7957d5;
}

.notices .toast.is-info {
    color: #fff;
    background: #3273dc;
}

.notices .toast.is-success {
    color: #fff;
    background: #23d160;
}

.notices .toast.is-warning {
    color: rgba(0, 0, 0, 0.7);
    background: #ffdd57;
}

.notices .toast.is-danger {
    color: #fff;
    background: #ff3860;
}

.notices .snackbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    margin: 8px;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    padding: 6px 8px 6px 24px;
    pointer-events: auto;
    background: #363636;
    color: whitesmoke;
}

.notices .snackbar .text {
    text-align: left;
}
.button.is-light {
    background-color: whitesmoke;
    border-color: transparent;
    color: #363636;
}

.button.is-light:hover, .button.is-light.is-hovered {
    background-color: #eeeeee;
    border-color: transparent;
    color: #363636;
}

.button.is-light:focus, .button.is-light.is-focused {
    border-color: transparent;
    box-shadow: 0 0 0.5em rgba(245, 245, 245, 0.25);
    color: #363636;
}

.button.is-light:active, .button.is-light.is-active {
    background-color: #e8e8e8;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
    color: #363636;
}

.button.is-light.is-inverted {
    background-color: #363636;
    color: whitesmoke;
}

.button.is-light.is-inverted:hover {
    background-color: #292929;
}

.button.is-light.is-loading:after {
    border-color: transparent transparent #363636 #363636 !important;
}

.button.is-light.is-outlined {
    background-color: transparent;
    border-color: whitesmoke;
    color: whitesmoke;
}

.button.is-light.is-outlined:hover, .button.is-light.is-outlined:focus {
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: #363636;
}

.button.is-light.is-outlined.is-loading:after {
    border-color: transparent transparent whitesmoke whitesmoke !important;
}

.button.is-light.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #363636;
    color: #363636;
}

.button.is-light.is-inverted.is-outlined:hover, .button.is-light.is-inverted.is-outlined:focus {
    background-color: #363636;
    color: whitesmoke;
}